* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;    
    width: 98%;        
    background-color: white;
    height: 50px;
}
body{
    background-color: #f8f8f8; 
    height: 100%;
        }

#product-details img {
            width: 400px;
            margin: 0 auto; /* Para centrar la imagen horizontalmente */
            margin-bottom: 20px; /* Espacio inferior entre imágenes y otros elementos */
        }

.logo {
    max-width: 5rem;
    height: 50px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    margin-right: 10px;
}
.card img {
    width: 300px;
    height: 210px;
    border-radius: 5px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}
.btn-danger {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar a un cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
    margin-bottom: 20px;
    height: 40px;
}


