body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
}
#nuevo-producto-form {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#nuevo-producto-form label {
    display: block;
    margin-bottom: 5px;
}

#nuevo-producto-form input[type="text"],
#nuevo-producto-form input[type="number"],
#nuevo-producto-form textarea,
#nuevo-producto-form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir el relleno y el borde en el ancho total */
}

#nuevo-producto-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#nuevo-producto-form button:hover {
    background-color: #45a049;
}