* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;        
    background-color: white;
    height: 50px;
    margin-left: 9px;
    margin-top: 15px;
    margin-bottom: 30px;
}

body{
    background-color: #f8f8f8; 
    height: 100%;
        }

.logo {
    max-width: 5rem;
    height: 50px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    margin-right: 10px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}
.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    background-color:  #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno (vertical horizontal) */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
    margin-bottom: 20px;
    width: 460px;
}

.form-group button:hover {
    background-color: #0056b3;
}
#registro-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave al cambiar el color */
}

#registro-link:hover {
    color: #0056b3; /* Cambio de color al pasar el mouse */
}
